.openCloseMac {
  position: relative;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  animation-name: openCloseAnimation;
  animation-delay: 1s;
  /* animation: openCloseAnimation */
}


@keyframes openCloseAnimation {
  5%, 80% {
    transform: rotateX(0);
    transform-origin: bottom;
  }
  85% {
    transform: rotateX(-90deg);
    transform-origin: bottom;
  }
}

.laptop {
  animation-duration: 0.2s;
  animation-name: slideLaptop;
  animation-timing-function: linear;
}

@keyframes slideLaptop {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}