/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
  color: #ffffff;
  /* min-height: 80vh; */
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem 0;
    text-align: center;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroTitle {
  /* font-size: 3rem; */
  color: #25c2a0;
}

.btmArrow:hover {
  background-image: radial-gradient(circle farthest-side,rgba(235, 223, 223, 0.12),rgba(194, 186, 186, 0.12) 80%,rgba(151, 146, 146, 0) 100%);
}
